<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coursework2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CourseWork2">
        <activity android:name=".RatingActivityTwo"
            android:label="Rating"
            android:parentActivityName=".RatingActivity"
            />

        <activity android:name=".RatingActivity"
            android:label="Rating"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".SearchMoviesActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".EditActivity2"
            android:label="Movie Details"
            android:parentActivityName=".EditMoviesActivity"
            android:windowSoftInputMode="adjustPan" />



        <activity
            android:name=".EditMoviesActivity"
            android:label="Edit Movie"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Favourites"
            android:label="Favourites"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DisplayMovies"
            android:label="Display Movies"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterMovie"
            android:label="Register Movies"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>